<div *ngIf="!gameEnded && currentCategory && !errorMessage" class='game'>
  <app-timer [initialTime]="70" (timerEnd)="onTimerEnd()"></app-timer>
  <h1>Mixed Letters - {{currentCategory.name}}</h1>
  <h2>Target Word: {{wordToShow}}</h2>
  <h2>Guess: {{shuffledString}}</h2>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Enter your guess</mat-label>
      <input matInput placeholder="Type here" [(ngModel)]="userAnswer" name="userAnswer">
    </mat-form-field>
    
    <section>
      <div class="example-button-row">
        <button mat-flat-button color="primary" (click)="wordsIndex = 0; updateWord()">RESET</button>
        <button mat-flat-button color="accent" (click)="checkAnswer()">SUBMIT</button>
      </div>
    </section>
    <mat-progress-bar mode="determinate" [value]="progressValue" class='bar'></mat-progress-bar>
  </form>
</div>

<div *ngIf="gameEnded && currentCategory && !errorMessage">
  <app-mixed-game-result 
    [currentCategory]="currentCategory.name"
    [totalCorrectAnswers]="totalCorrectAnswers"
    [totalWords]="totalWords"
    [userAnswer]="userAnswer"
    [wordResults]="wordResults">
  </app-mixed-game-result>
  <button mat-button (click)="restartGame()">NEW GAME</button>
</div>

<div *ngIf="errorMessage" class="error-message">
  <h1>{{ errorMessage }}</h1>
</div>